@charset "UTF-8";

body{
  background-image: url('img/back.jpg');
  font-family: Verdana, Helvetica, Arial;
}

#caixa{
  width: 80%;
  background-color: whitesmoke;
  padding: 10px 40px;
  margin: 0 auto;
  font-family: Verdana, Helvetica, Arial;
  border: solid 1px black;
  text-align: justify;

}


#button{
  border-radius: 50px;
  border: 1px solid #333;
  background-color: Teal;
  color: #fff;
  height: 25px;
  width: 90px;
}

#bloco{
  background-color: white;
  border: solid 1px black;
  border-radius: 10px;
  width: 350px;
  height: 150px;
  text-align: center;
  font-family: Verdana, Helvetica, Arial;
  align-content: center;

}

#container{
  width: 60%;
  background-color: whitesmoke;
  padding: 10px 40px;
  margin: 0 auto;
  font-family: Verdana, Helvetica, Arial;
  border: solid 1px black;
  text-align: justify;

}

#faixa{
  width: 60%;
  background-color: Gainsboro;
  padding: 10px 40px;
  margin: 0 auto;
  border: solid 1px black;
  text-align: center;
  font-family: Verdana, Helvetica, Arial;
}

#faixa1{
  width: 80%;
  background-color: Gainsboro;
  padding: 10px 40px;
  margin: 0 auto;
  border: solid 1px black;
  text-align: center;
  font-family: Verdana, Helvetica, Arial;
}

a{
  color: black;
}

table, td, th{
  border: 1px solid black;
  vertical-align: middle;
  text-align: center;
}

table{
  width: 80%;
  table-layout: fixed;
  border-collapse: collapse;
}

th{
  background-color: white;

}

h1{
  text-align: center;
}

#central{
  text-align: center;
}

#logo{
  text-align: center;
}

input[type=submit]{
  border-radius: 50px;
  border: 1px solid #333;
  background-color: Teal;
  color: #fff;
  height: 25px;
  width: 90px;
}


